## Managing Your Data by Sorting and Ranking
### Working with pandas
*Curtis Miller*

We will see methods for sorting and ranking data.

Let's first go through initialization steps.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
df = DataFrame(np.round(np.random.randn(7, 3) * 10),
               columns=["AAA", "BBB", "CCC"],
               index=list("defcabg"))
df

    AAA   BBB   CCC
d -20.0  12.0   0.0
e  25.0  -5.0  -7.0
f  -1.0  -4.0  -4.0
c -16.0  12.0   1.0
a   0.0  -3.0   1.0
b  17.0   5.0  10.0
g   4.0  12.0   5.0

Here I sort the index.

In [3]:
df.sort_index()

    AAA   BBB   CCC
a   0.0  -3.0   1.0
b  17.0   5.0  10.0
c -16.0  12.0   1.0
d -20.0  12.0   0.0
e  25.0  -5.0  -7.0
f  -1.0  -4.0  -4.0
g   4.0  12.0   5.0

In [4]:
df.sort_index(axis=1, ascending=False)    # Sorting columns by
                                          # index, opposite
                                          # order

    CCC   BBB   AAA
d   0.0  12.0 -20.0
e  -7.0  -5.0  25.0
f  -4.0  -4.0  -1.0
c   1.0  12.0 -16.0
a   1.0  -3.0   0.0
b  10.0   5.0  17.0
g   5.0  12.0   4.0

Now I sort according to the values of the `DataFrame`.

In [5]:
df.sort_values(by='AAA')    # According to contents of AAA

    AAA   BBB   CCC
d -20.0  12.0   0.0
c -16.0  12.0   1.0
f  -1.0  -4.0  -4.0
a   0.0  -3.0   1.0
g   4.0  12.0   5.0
b  17.0   5.0  10.0
e  25.0  -5.0  -7.0

In [6]:
df.sort_values(by=['BBB', 'CCC'])    # Arrange first by BBB,
                                     # breaking ties with CCC

    AAA   BBB   CCC
e  25.0  -5.0  -7.0
f  -1.0  -4.0  -4.0
a   0.0  -3.0   1.0
b  17.0   5.0  10.0
d -20.0  12.0   0.0
c -16.0  12.0   1.0
g   4.0  12.0   5.0

Ranking isn't much different from sorting.

In [ ]:
df.rank()

In [ ]:
df.rank(method="max")